h1 {
	font-size: 35pt;
	margin: 20px auto;
	text-align: center;
	font-family: sans-serif;
}

main {
	width: auto;
}

table {
	margin-left:auto;
	margin-right: auto;
	border-radius: 8px;
	border: 4px solid #504E4E;
}

span {
	font-size: 11pt;
}

label {
	padding: 0px 14px 0px 0px;
}

td>input[type=text] {
	padding: 0;
	width: 50px;
	height: 50px;
  font-size: 25pt;
  color: #4CAF50;
  border-radius: 8px;
  text-align: center;
  font-family: sans-serif;
  background: transparent;
	border: 2px #4CAF50 solid;
}

td>input[type=text] {
	outline: none;
}

td>div {
	width: 50px;
	height: 50px;
	font-size: 25pt;
	border-radius: 8px;
	line-height: 50px;
	text-align: center;
	border: 1px #ccc solid;
	background: transparent;
	font-family: sans-serif;
}

footer {
	display: none;
	font-size: 8pt;
	text-align: center;
	font-family: sans-serif;
}

#game-loader {
	display: none;
}

#loader {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 16px solid #f3f3f3;
	margin: 80px auto 0px auto;
	border-top: 16px solid #4CAF50;
	animation: spin 2s linear infinite;
}

@keyframes spin {
 	0% { transform: rotate(0deg); }
 	100% { transform: rotate(360deg); }
}

#loader-content {
	font-size: 14px;
	text-align: center;
	font-family: sans-serif;
}

#game-board {
	display: none;
}

#game-setting {
	font-size: 16px;
	text-align: center;
	font-family: sans-serif;
}

#game-setting>div {
	margin: 0px 0px 10px 0px;
}

#game-setting>input[type=radio] {
	margin: 3px 0px 3px 15px;
}

#game-hint {
	display: none;
	text-align: center;
	font-family: sans-serif;
}

#game-hint>input[type=button] {
	border: none;
	color: white;
	font-size: 16px;
	border-radius: 8px;
	padding: 10px 26px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 3px 2px 3px 15px;
	background-color: #4CAF50;;
}